{% extends 'layout/base.html' %}

{% block content %}
<h1 class="display-5 mt-4">Летим из <span data-test="from">{{ from_title[2:] }}</span></h1>
<p class="mb-4">Туров найдено - <span data-test="tourcount">{{ tours | count }}</span>, от <span data-test="pricemin">{{ departure_info.min_price }}</span>
    до
    <span data-test="pricemax">{{ departure_info.max_price }}</span> и от <span data-test="nightsmax">{{ departure_info.min_nights }}</span>
    до <span
            data-test="nightsmax">{{ departure_info.max_nights }}</span> ночей</p>

<!-- CARDS -->
<div class="row mt-5" data-test="cards">
    {% for id, tour in tours.items() %}
    {% with tour=tour %}
    {% include 'layout/_tour.html' %}
    {% endwith %}
    {% endfor %}
</div>
{% endblock %}